.section-card {
    border-radius: var(--card-border-radius);
    background-color: var(--card-background);
    padding: var(--small-card-padding);
    box-shadow: var(--shadow-l1);
    display: flex;
    align-items: center;
    gap: 20px;

    --separation: 15px;

    .section-term {
        font-size: 2.2rem;
        margin: 0;
        color: var(--card-text-color-main);
    }

    .section-description {
        font-weight: normal;
        color: var(--card-text-color-secondary);
        font-size: 1.6rem;
        margin: 0;
    }

    .section-details {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .section-image {
        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
        }
    }

    .section-count {
        color: var(--card-text-color-tertiary);
        font-size: 1.4rem;
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.subsection-list {
    overflow-x: auto;
    margin-left: 0px;

    .article-list--tile {
        display: flex;
        padding-bottom: 0px; // Narrow the spacing
        width: max-content;

        article {
            width: 140px;
            height: 90px;
            margin-right: 15px;
            flex-shrink: 0;

            .article-title {
                margin: 0;
                font-size: 1.6rem;
            }

            .article-details {
                padding: 15px;
            }
			.article-image {
			  overflow: hidden;
			}

        }
    }
}


